@font-face {
    font-family: "titles";
    src: url(fonts/Archivo_Black/ArchivoBlack-Regular.ttf);
}
@font-face {
    font-family: "subtitles";
    src: url(fonts/Rowdies/Rowdies-Regular.ttf);
}
@font-face {
    font-family: "extsubtitles";
    src: url(fonts/Rowdies/Rowdies-Light.ttf);
}
@font-face {
    font-family: "text";
    src: url(fonts/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf);
}

body {
    background-color: #f8f9fa;
    padding: 0 5% 2% 5%;
    color: #333;
    line-height: 1.6;
}

.titulos {
    font-family: "titles";
    text-align: center;
    color: #3a86ff;
}

.datos {
    color: #4a5568;
}

.datos h2 {
    font-family: "subtitles";
    color: #2b6cb0;
}

.autobiografia h2 {
    font-family: "subtitles";
    color: #2b6cb0;
}

.autobiografia h3 {
    font-family: "subtitles";
    color: #4361ee;
}

.carrera h2 {
    font-family: "subtitles";
    margin: 50px 0 -5px 0;
    color: #2b6cb0;
}

p {
    font-family: "text";
    text-align: justify;
    color: #4a5568;
}

ul, ol {
    font-family: "text";
    color: #4a5568;
}

hr {
    border: none;
    height: 1px;
    background-color: #b5cdeb;
    margin: 20px 0;
}

.botones h3 {
    font-family: "extsubtitles";
    color: #2d3748;
    text-align: center;
    font-size: 22px;
}

.botones a {
    width: 200px;
    text-align: center;
    color: #333;
}

.botones a:hover {
    transform: scale(1.075);
}

.botonesP1, .botonesP2, .botonesP3, .final {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

.botonesP1 a {
    font-family: "text";
    font-weight: bold;
    text-decoration: none;
    background-color: #f7673c;
    padding: 10px 20px;
    margin: 20px 5px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.botonesP1 a:hover {
    box-shadow: 0 4px 12px rgba(240, 114, 76, 0.5);
    background-color: #da3b3b;
}

.botonesP2 a {
    font-family: "text";
    font-weight: bold;
    text-decoration: none;
    background-color: #3ae1ff;
    padding: 10px 20px;
    margin: 20px 5px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.botonesP2 a:hover {
    box-shadow: 0 4px 12px rgba(58, 134, 255, 0.5);
    background-color: #2a75e8;
}

.botonesP3 a {
    font-family: "text";
    font-weight: bold;
    text-decoration: none;
    background-color: #ffd932;
    padding: 10px 20px;
    margin: 20px 5px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.botonesP3 a:hover {
    box-shadow: 0 4px 12px rgba(236, 233, 56, 0.5);
    background-color: #ffb414;
}

.final a {
    font-family: "text";
    font-weight: bold;
    text-decoration: none;
    background-color: #c207fb;
    color: white;
    padding: 10px 20px;
    margin: 20px 5px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.final a:hover {
    box-shadow: 0 4px 12px rgba(243, 7, 251, 0.5);
    background-color: #e000bb;
}