@font-face {
    font-family: "general";
    src: url(../../../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: "sinCopa";
    src: url(../../../fonts/OldEnglishText/oldenglishtextmt.ttf);
}
body
{
    background-color: #0D0D0D;
}
header
{
    background-color: #BF3326;
    width: 80%;
    margin: 2px 10% 0 10%;
    border-radius: 28px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img
{
    display: inline;
    width: 70px;
    height: auto;
    margin-left: 50px;
}
header .shopping_bag
{
    cursor: pointer;
}
header a
{
    font-family: "general";
    color: white;
    text-decoration: none;
    margin: 2%;
    font-size: 20px;
    font-weight: 600;
    margin-left: 50px;
    transition: 0.3s ease-in-out;
}
header a:hover
{
    color: #ffdd92;
}
header .enlaces
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subtitle
{
    font-family: "general";
    color: white;
    margin: 20px 10% 0 10%;
    font-size: 32px;
}
.novedades {
    background-color: #BF3326;
    margin: 20px 10% 0 10%;
    padding: 20px;
    border-radius: 38px;
    display: flex; /* Lo convierte en un contenedor flex */
    align-items: center; /* Centra verticalmente el contenido */
    gap: 20px; /* Espacio entre la imagen y el texto */
}
.sincopa {
    display: flex; /* Coloca la imagen y el texto en la misma línea */
    align-items: center; /* Centra verticalmente */
    gap: 20px; /* Espacio entre la imagen y el texto */
}

.novedades img
{
    width: 600px;
    border-radius: 38px;
    display: inline-block;
}
.sincopaText
{
    padding: 30px;
    font-family: "general";
}
.sincopaText p
{
    color: white;
    font-size: 20px;
}
.sincopaText h2
{
    text-align: center;
    font-family: "sinCopa";
    color: white;
    font-size: 50px;
}
.sincopaText a
{
    display: block;
    text-align: center;
    width: 100%;
    margin: auto;
    background-color: #8C251C;
    color: white;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.3s ease-in-out;
}
.sincopaText a:hover
{
    background-color: #681c16;
}
.linea
{
    border: none;
    border-top: 2px solid white;
    margin: 75px 10%;
}
.sublimados
{
    margin: 20px 10% 0 10%;
    font-family: "general";
}
.sublimados p
{
    color: white;
    font-size: 20px;
}
.bloque
{
    display: inline-block;
    width: 450px;
    background-color: #BF3326;
    padding: 10px;
    margin: 10px;
    border-radius: 38px;
}
.bloque h2
{
    color: white;
    font-size: 40px;
    text-align: center;
}
.bloque p
{
    text-align: center;
    margin: 100px 0;
}
.bloque a
{
    display: block;
    text-align: center;
    width: 90%;
    margin: 50px auto;
    background-color: #8C251C;
    color: white;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 25px;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
}
.bloque a:hover
{
    background-color: #681c16;
}
footer
{
    margin: 50px 0 0 0;
    background-color: #151515;
    padding: 10px;
    border-radius: 30px;
}
.derechos
{
    font-family: "general";
    text-align: center;
    font-weight: 600;
    color: white;
}

@media (max-width: 1919px)
{
    .bloque
    {
        width: 350px;
        padding: 5px;
        margin: 20px;
    }
}